* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.about-me {
  background-color: #bd3e3e;
  padding: 10px;
  flex: 50%;
  border-style: solid;
  border-width: 2px;
}
.contact {
  background-color: rgb(233, 255, 30);
  padding: 10px;
  flex: 50%;
  border-style: solid;
  border-width: 2px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}
body {
  background-color: bisque;
}
h1 {
  background-color: bisque;
  font-size: 40px;
  font-family: "Comic Sans MS";
  margin: auto;
  padding: auto;
}
.face {
  background-color: bisque;
  width: 250px;
}
