.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 15%;
}
.grid-item {
  color: #69bb86;
  background-color: #03675a;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#title {
  color: #69bb86;
  background-color: #03675a;
  font-size: 50px;
  text-align: center;
  border: #03675a;
  padding: "auto";
  margin: "auto";
}
p {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
#textop {
  text-align: center;
  padding: "auto";
  margin: "auto";
  scroll-margin: 10px;
}
